@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

input {
  height: 25px;
}

input[type='text']:focus {
  outline: none;
  border-top: 1px solid rgb(238, 90, 252);
  border-top: 1px solid rgb(238, 90, 252);
  border-top: 1px solid rgb(238, 90, 252);
  border-right: none;
}
