@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.main-container {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* border: 1px dashed rgb(6, 255, 19); */

  width: 250px;
  height: 100%;
  padding: 1rem;
}
.menu-items {
  cursor: pointer;
}
.menu-items:hover {
  color: blueviolet;
}

.header {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
}

/* Chatroom */
.chatroom {
  position: relative;
}

.open-chat-window {
  cursor: pointer;
}

.room-actions {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.create-room-button {
  background-color: rgb(189, 140, 235);
  color: rgb(47, 46, 48);
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  border: none;
  width: 20%;
  height: 42px;
  border-radius: 0 4px 4px 0;
  min-width: 60px;
  padding: 8px;
  cursor: pointer;
}
.create-room-button:hover {
  background-color: rgb(205, 162, 245);
}
