.message-box {
  /* border: 1px solid rgb(0, 255, 76); */
  background-color: azure;
  height: 80%;
  width: 80%;
  margin: auto;
  position: relative;
}

.message-box-header {
  background: #590261;
  color: azure;
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
  height: 40px;
}

.message-box-content {
  /* border: 1px solid rgb(238, 238, 238); */
  background-color: azure;
  border: 1px solid rgb(235, 235, 235);
  width: 90%;
  height: 70%;
  padding: 0;
  margin: 50px auto;
  overflow: auto;
}

.message-box-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.message-input {
  border: 1px solid #cbb4f7;
  border-radius: 4px 0 0 4px;
  height: 40px;
  width: 80%;
  padding: 0 10px;
  margin: 0;
}

.leave-room-button {
  background-color: rgb(168, 0, 154);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  height: 40px;
  min-width: 10%;
  padding: 8px;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
}

.leave-room-button:hover {
  background-color: rgb(196, 0, 179);
}

.send-message-button {
  background-color: rgb(167, 76, 252);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  width: 20%;
  height: 42px;
  border-radius: 0 4px 4px 0;
  min-width: 60px;
  padding: 8px;
  cursor: pointer;
}

.message {
  margin-bottom: 0.25rem;
}

.myMessage {
  margin-bottom: 0.25rem;
  text-align: right;
}

.otherMessage {
  color: #3cbd00;
  font-weight: bold;
}

.ownMessage {
  color: #c200f3;
  font-weight: bold;
}
